body, html {
    margin: 0 0 0 var(--nav-width);
    font-family: 'Avenir', sans-serif; 
    color: white;
    background: rgb(26, 26, 26);
}

h1 {
    color: hsl(0, 37%, 66%);
    font-size: 8vw;
    max-width: auto;
}

h2 {
    text-align: center;
    -webkit-text-size-adjust:none;
}

h3 {
    color: white;
    font-size: 2vw;
}

.technologies {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

.technologies h4{
    text-align: center;
    color: hsl(0, 37%, 66%);
    display: inline;
    line-height: 2vh;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.274)), url("src/static/css/img/hero-image.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-bottom: 25px;
    border-bottom: 3px solid rgb(71, 71, 71);
}

.hero-text {
    position: relative;
    line-height: 0%;
    text-align: center;
    vertical-align: middle; 
}

@media (max-width: 26.25em) {
    .hero-text {
        transform: translate(0%, 20%);
    }
}

hr.solid {
    width: 50vw;
    border: 3px solid rgb(71, 71, 71);
}

.ppic {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    border: 3px solid white;
    backface-visibility: hidden;
    opacity: 1;
}

.img-par {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    overflow: hidden;
}

.img-par img {
    margin-right: 25px;
    float: left;
}

.img-par span {
    margin-left: 50px;
    display: block;
}

.img-par h2 {
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}
  
.container:hover .middle {
    opacity: 1;
}

.middle {
    transition: .5s ease;
    margin-top: auto;
    margin-left: auto;
    opacity: 0;
    position: absolute;
    text-align: center;
}

.text {
    background-color: #5050503d;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: rgb(37, 37, 37);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
} 

li a:hover {
    background-color: rgb(29, 29, 29);
}