body, html {

    margin: 0 0 0 var(--nav-width);
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-align: center;
}

h1 {
    color: #c98989;
    font-size: 100px;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(49, 13, 46, 0.5)), url("img/hero-image.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    min-height: 500px;
    max-height: 1500px;
}

.hero-text {
    text-align: center;
    top: 50%;
    transform: translate(0%, 80%);
    color: white;
    line-height: 80%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 

li a:hover {
    background-color: rgb(29, 29, 29);
}