body, html {
    margin: 0 0 0 var(--nav-width);
    font-family: 'Trebuchet MS', sans-serif;
    
    color: white;
    background: rgb(26, 26, 26);
}

h1 {
    color: hsl(0, 37%, 66%);
    font-size: 8vw;
    max-width: auto;
}

h2 {
    text-align: center;
    -webkit-text-size-adjust:none;
}

h3 {
    color: white;
    font-size: 2vw;
}

p {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    font-size: 1em;
    justify-content: center;
    display: flex;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.274)), url("./img/hero-image.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-bottom: 25px;
}

.hero-text {
    position: relative;
    line-height: 0%;
    text-align: center;
    vertical-align: middle; 
}

@media (max-width: 26.25em) {
    .hero-text {
        transform: translate(0%, 20%);
    }

    p {
        font-size: 0.75em;
    }
}

hr.solid {
    width: 50vw;
    border: 3px solid rgb(255, 255, 255);
}

.introP {
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: rgb(37, 37, 37);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
} 

li a:hover {
    background-color: rgb(29, 29, 29);
}